.landing-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-btn {
    height: 75px;
    width: 200px;
    border-radius: 12px;
    margin: 20px;
    text-transform: uppercase;
    cursor: pointer;
    background: white;
    background: linear-gradient(to left, white 50%, rgba(13, 141, 50, 0.25) 50%) right;
    background-size: 200%;
    transition: all 0.25s ease-out;
}

.start-btn:hover {
    background-position: left;
    color: white;
}

.view-scores-btn {
    padding: 5px;
    border-radius: 8px;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
    background: none;
    background: linear-gradient(to left, white 50%, rgba(13, 141, 50, 0.25) 50%) right;
    background-size: 200%;
    transition: all 0.25s ease-out;
}

.view-scores-btn:hover {
    background-position: left;
}

.example-enter {
    opacity: 0;
  }
  
.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
  
.example-leave {
    opacity: 1;
}
  
.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
