.landing-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-btn {
    height: 75px;
    width: 200px;
    /* border-radius: 12px; */
    margin: 20px;
}


.view-scores-btn {
    padding: 5px;
    /* border-radius: 8px; */
    padding: 10px;
    font-size: 10px;
}

.change-bg-btn {
    padding: 5px;
    /* border-radius: 8px; */
    padding: 10px;
    font-size: 10px;
    margin-left: 5px;
}

.example-enter {
    opacity: 0;
  }
  
.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
  
.example-leave {
    opacity: 1;
}
  
.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
