.landing-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn {
    height: 75px;
    width: 150px;
    border-radius: 12px;    
    background: none;
    text-transform: uppercase;
    transition: 0.25s;
}

.start-btn:hover {
    cursor: pointer;
    color: #266784;
    background: #2196f3;
    box-shadow: 0 0 41px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}