.option-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-btn {
    margin: 10px;
}